<h1>Games</h1>

<a href="/games/new" class="btn btn-primary">Add</a>

<div class="row">
  <% games.forEach((game) => { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img-top" style="background-image:url(<%= game.images[0] %>)" alt="<%= game.name %>"></div>
        <div class="card-block">
          <a href="/games/<%= game.id %>">
            <h4 class="card-title"><%= game.name %></h4>
          </a>
          <p class="card-text"><%= game.genre %></p>

          <a href="/games/<%= game.id %>/edit" class="btn btn-primary">Edit</a>
          <form method="POST" action="/games/<%= game.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>
